{% extends 'base.html' %}
{% load static %}

{% block title %}Mark Attendance{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>Mark Attendance</h2>
    <p>Welcome, {{ user.username }}</p>

    <form method="POST">
        {% csrf_token %}
        <table class="table table-bordered mt-3">
            <thead class="table-light">
                <tr>
                    <th>Student Name</th>
                    <th>Roll Number</th>
                    <th>Course</th>
                    <th>Present</th>
                    <th>Absent</th>
                    

                </tr>
            </thead>
            <tbody>
                {% for student in students %}
                <tr>
                    <td>{{ student.user.get_full_name }}</td>
                    <td>{{ student.roll_no }}</td>
                    <td>{{ student.course }}</td>
                    <td><input type="radio" name="attendance_{{ student.id }}" value="present" required></td>
                    <td><input type="radio" name="attendance_{{ student.id }}" value="absent" required></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <button type="submit" class="btn btn-primary mt-3">Submit Attendance</button>
    </form>
</div>
{% endblock %}
