{% extends 'base.html' %}
{% block content %}
<h2>Course List</h2>
<a href="{% url 'add_course' %}" class="btn btn-success mb-3">Add Course</a>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Code</th>
            <th>Staff</th>
            <th>Students</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for course in courses %}
        <tr>
            <td>{{ course.name }}</td>
            <td>{{ course.code }}</td>
            <td>
                {% if course.staff %}
                    {{ course.staff.username }}
                {% else %}
                    -
                {% endif %}
            </td>

            <td>
                {% if course.students.all %}
                    {% for student in course.students.all %}
                        {{ student.user.username }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                {% else %}
                    -
                {% endif %}
            </td>
            <td>
                <a href="{% url 'update_course' course.id %}" class="btn btn-primary btn-sm">Edit</a>
                <a href="{% url 'delete_course' course.id %}" class="btn btn-danger btn-sm">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
